# Database Configuration
DATABASE_URL=mysql+pymysql://root:root@localhost:8889/alysa

# JWT Configuration
JWT_SECRET_KEY=12345678910

# AI Model Configuration
GEMINI_API_KEY=

# Flask Configuration
FLASK_ENV=development
FLASK_DEBUG=True



eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJmcmVzaCI6ZmFsc2UsImlhdCI6MTc2NTM2ODIxMCwianRpIjoiZWE1ODU2MWQtOTMzNS00MDNmLWJlMzUtNWRlNDZmZWMxZDM4IiwidHlwZSI6ImFjY2VzcyIsInN1YiI6IjEiLCJuYmYiOjE3NjUzNjgyMTAsImNzcmYiOiI3YTZjNWJkYS02ZTgwLTQ3N2MtOGIwMC1iMTViZDMwYzFlNjUiLCJleHAiOjE3NjU0NTQ2MTB9.KwqbwUnGJ1Cw4dxw3bCSmh8_ZEwueFO9T_iSCM2hHoA