genai
flask==2.3.3
flask-sqlalchemy==3.0.5
flask-migrate==4.0.5
flask-jwt-extended==4.5.3
flask-cors==4.0.0
pymysql==1.1.0
cryptography==41.0.7
bcrypt==4.1.2
language-tool-python
sentence-transformers==2.2.2
torch==2.0.1
gradio==4.7.1
google-generativeai==0.3.2
easyocr==1.7.1
Pillow==10.3.0
numpy==1.26.4
torchvision==0.17.2
opencv-python-headless==4.9.0.80
scikit-image==0.21.0