numpy==1.26.4
flask
flask-sqlalchemy
flask-jwt-extended
flask-cors
pymysql 
bcrypt
language-tool-python
sentence-transformers
torch
gradio
easyocr
Pillow
dotenv
google-genai
torchvision==0.17.2
opencv-python-headless==4.9.0.80
scikit-image==0.21.0
firebase-admin